In [1]:
#Importing libraries
import folium
import pandas

#Create map object
map = folium.Map(location=[38,-99], zoom_start = 6, tiles = "Stamen Terrain")
fg = folium.FeatureGroup(name="My map")

#load volcanoes data into dataframe
data = pandas.read_csv("Volcanoes.txt")
data.head()

,VOLCANX020,NUMBER,NAME,LOCATION,STATUS,ELEV,TYPE,TIMEFRAME,LAT,LON
0,509.0,1201-01=,Baker,US-Washington,Historical,3285.0,Stratovolcanoes,D3,48.776798,-121.810997
1,511.0,1201-02-,Glacier Peak,US-Washington,Tephrochronology,3213.0,Stratovolcano,D4,48.111801,-121.111000
2,513.0,1201-03-,Rainier,US-Washington,Dendrochronology,4392.0,Stratovolcano,D3,46.869801,-121.751000
3,515.0,1201-05-,St. Helens,US-Washington,Historical,2549.0,Stratovolcano,D1,46.199799,-122.181000
4,516.0,1201-04-,Adams,US-Washington,Tephrochronology,3742.0,Stratovolcano,D6,46.205799,-121.490997

In [2]:
#Add markers for volcanoes in America on the map

fgv = folium.FeatureGroup(name="Volcanoes")
lat = list(data["LAT"])
lon = list(data["LON"])
elev = list(data["ELEV"])

for lt, ln, el in zip(lat, lon, elev):
    if el < 1500:
        fgv.add_child(folium.Marker(location=[lt, ln], popup = folium.Popup(str(el), parse_html=True), icon = folium.Icon(color='green')))
    elif el <3000:
        fgv.add_child(folium.Marker(location=[lt, ln], popup = folium.Popup(str(el), parse_html=True), icon = folium.Icon(color='orange')))
    else:
        fgv.add_child(folium.Marker(location=[lt, ln], popup = folium.Popup(str(el), parse_html=True), icon = folium.Icon(color='red')))

In [3]:
#Add layer for population on the map
fgp = folium.FeatureGroup(name="Population")
fgp.add_child(folium.GeoJson(data = (open("world.json", "r", encoding = 'utf-8-sig').read()),
                            style_function = lambda x: {'fillColor': 'green' if x['properties']['POP2005'] < 10000000
                                                       else 'yellow' if 10000000 <= x['properties']['POP2005'] < 50000000 else 'red'}))

In [4]:
#Save the map and display 
map.add_child(fgp)
map.add_child(fgv)
map.add_child(folium.LayerControl())
map.save("Map_final.html")